<div class="login-container">
  <div class="login-card">
    <h2>Bienvenido</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Correo Electrónico -->
      <div class="form-group">
        <label for="email">Correo Electrónico</label>
        <span class="p-input-icon-left">
          <i class="pi pi-envelope"></i>
          <input
            pInputText
            id="email"
            formControlName="email"
            type="email"
            placeholder="Ingrese su correo"
          />
        </span>
      </div>

      <!-- Contraseña -->
      <div class="form-group">
        <label for="contrasenia">Contraseña</label>
        <span class="p-input-icon-left p-input-icon-right">
          <i class="pi pi-lock"></i>
          <input
            pInputText
            id="contrasenia"
            formControlName="contrasenia"
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Ingrese su contraseña"
          />
          <i
            class="pi icon-toggle-password"
            [ngClass]="showPassword ? 'pi-eye-slash' : 'pi-eye'"
            (click)="togglePasswordVisibility()"
          ></i>
        </span>
      </div>

      <!-- Mensaje de error -->
      <p-message
        *ngIf="errorMessage"
        severity="error"
        text="{{ errorMessage }}"
        class="error-message"
      ></p-message>

      <!-- Botón Ingresar -->
      <button
        pButton
        type="submit"
        label="Ingresar"
        icon="pi pi-sign-in"
        class="p-button-rounded p-button-lg p-button-primary"
        [disabled]="loginForm.invalid || loading"
      ></button>
    </form>

    <!-- Loading Spinner -->
    <div *ngIf="loading" class="loading-overlay">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </div>
</div>
