<div *ngIf="loading">Cargando empleados...</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
  <!-- ID Empleado -->
  <ng-container matColumnDef="idEmpleado">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID Empleado </th>
    <td mat-cell *matCellDef="let empleado"> {{ empleado.idEmpleado }} </td>
  </ng-container>

  <!-- Nombres -->
  <ng-container matColumnDef="nombres">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
    <td mat-cell *matCellDef="let empleado"> {{ empleado.nombres }} </td>
  </ng-container>

  <!-- Apellidos -->
  <ng-container matColumnDef="apellidos">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
    <td mat-cell *matCellDef="let empleado"> {{ empleado.apellidos }} </td>
  </ng-container>

  <!-- Fecha de Nacimiento -->
  <ng-container matColumnDef="fechaNacimiento">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Nac. </th>
    <td mat-cell *matCellDef="let empleado"> {{ empleado.fechaNacimiento | date:'dd/MM/yyyy' }} </td>
  </ng-container>

  <!-- Documento (Descripción) -->
  <ng-container matColumnDef="descripcion">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Documento </th>
    <td mat-cell *matCellDef="let empleado"> {{ empleado.idDocumento?.descripcion }} </td>
  </ng-container>

  <!-- Documento de Identidad -->
  <ng-container matColumnDef="docIdentidad">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Documento Identidad </th>
    <td mat-cell *matCellDef="let empleado"> {{ empleado.docIdentidad }} </td>
  </ng-container>

  <!-- Salario -->
  <ng-container matColumnDef="salario">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Salario </th>
    <td mat-cell *matCellDef="let empleado"> {{ empleado.salario | currency:'S/.' }} </td>
  </ng-container>

  <!-- Fecha de Ingreso -->
  <ng-container matColumnDef="fechaIngreso">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Ingreso </th>
    <td mat-cell *matCellDef="let empleado"> {{ empleado.fechaIngreso | date:'dd/MM/yyyy' }} </td>
  </ng-container>

  <!-- Estado -->
  <ng-container matColumnDef="estado">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
    <td mat-cell *matCellDef="let empleado"> {{ empleado.estado === 1 ? 'Activo' : 'Inactivo' }} </td>
  </ng-container>

  <!-- Acciones -->
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let empleado">
      <button mat-icon-button color="primary" (click)="actualizarRol(empleado.idEmpleado)">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
